.criar-tarefa {
  background-color: limegreen;
  border-color: rgb(247 , 247 , 108);
  border-radius: 50px;
  color: rgb(247 , 247 , 252);
  font-size: 30px;
  height: 30px;
  margin-top: 10px;
  padding-bottom: 40px;
  width: 40px;
}

.apaga-tudo {
  background-color: blue;
  border-color: rgb(247 , 247 , 108);
  border-radius: 15px;
  color: rgb(250 , 250 , 253);
  height: 30px;
  margin-top: 10px;
  width: 80px;
}

.remover-finalizados {
  background-color: rgb(248 , 2 , 2);
  border-color: rgb(247 , 247 , 108);
  border-radius: 15px;
  color: rgb(252 , 252 , 252);
  height: 30px;
  width: 178px;
}

body {
  background-color: rgba(245 , 240 , 240 , 0.959);
  height: 768px;
  text-align: center;
  width: 1366px;
}

header {
  color: lime;
  font-size: 30px;
}

input {
  border-radius: 50px;
  height: 35px;
  width: 300px;
}

p {
  color: rgb(14 , 247 , 247);
}

ol {
  color: rgb(14 , 14 , 11);
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}

.selected {
  background-color: gray;
}

.completed {
  text-decoration: line-through solid black;
}
