button {
  font-size: larger;
  color: white;
  background-color: #000000;
  border-radius: 1em;
  margin: auto;
}

.completed {
  text-decoration: line-through solid rgb(3, 3, 3);
  font-family: Arial, Helvetica, sans-serif;
}

.selected {
  background-color: rgb(128 , 128 , 128);
}


