.completed {
    text-decoration: line-through solid rgb(0, 0, 0);
} 

body {
    font-family: sans-serif;
}

header {
    background-color: red;
    color: seashell;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}
nav, section {
    padding-left: 50px;
}
.button {
    width: 100px;
    
}
